body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .header {
  background-color: red;
  text-align: center;
  color: wheat;
  line-height: 99px;
  font-size: 22px;
}
.footer {
  background-color: blue;
  text-align: center;
  color: wheat;
  font-size: 22px;
}
.body_content {
  display: flex;
  line-height: 400px;
  text-align: center;
}
.content {
  width: 70%;
  background-color: greenyellow;
}
.sidebar {
  width: 30%;
  background-color: orchid;
} */
